.alert {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.401);
}

/* ================================================== */

.container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}
.background{
    /* background-image: url('../Sprites/General/Background.jpg');
    background-repeat: no-repeat; */
    flex: auto;
}


.sun-display {
    position: absolute;
    left: 175px;
    top: 95px;
    font-size: 1.5rem;
    color: black;
}
.info{
    position: absolute;
    top: 25px;
    left: 550px;
    font-size: 1.4rem;
    color: white;
}
.plant-card{
    position: absolute;
    top: 40px;
    left: 250px;
    display: flex;
        gap: 10px;
}
.shovel-display{
    position: absolute;
    top: 28px;
    left: 800px;
}


.board{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(9, minmax(0,1fr));
    top: 150px;
    left: 32px;
}
.board >*{
    /* border: solid 2px red; */
    width: 97px;
    height: 110px;
}